Flask==2.3.2
Flask-Cors==3.0.10
flask_jwt_extended==4.5.2
Werkzeug==2.3.6
hypercorn==0.14.4
# DB
alembic==1.11.2
SQLAlchemy==2.0.19
psycopg2-binary==2.9.7
clickhouse-driver==0.2.6
redis==5.0.0rc2
confluent-kafka==2.1.1
# Other
requests==2.31.0
docopt==0.6.2
loguru==0.7.0
supervisor==4.2.5
pillow==10.0.0